<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <div><%- include('../partials/navbar.ejs')%></div>
    <br />
    <%- body%>
    <br />
  </body>
</html>
