All notes here
<div id="create-notes-container">
  <form action="/notes/new" method="POST">
    <input type="text" name="newNote" placeholder="Enter your note here">
    <button type="submit">Create note</button>
  </form>
</div>
